#consumer {
    width: 75%;
    text-align: center;
    border-spacing: 90px;
    margin-left: auto;
    margin-right: auto;
}

#consumer td {
    background-color: #ecf0f1;
    padding: 30px;
}

@media screen and (max-width: 1150px) {
    #consumer {
        width: 85%;
    }
}

@media screen and (max-width: 950px) {
    #consumer {
        width: 95%;
        border-spacing: 40px;
    }
}

@media screen and (max-width: 650px) {
    #consumer {
        width: 100%;
        border-spacing: 10px;
    }
}