/* simulator block */

#simulator {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ecf0f1;
    color: #34495e;
    padding: 15px;
}

#legend {
    float: left;
}

.colorDot {
    height: 30px;
    position: relative;
    top: 10px;
}

#simulatorMap {
    width: 80%;
    height: auto;
}

@media screen and (max-width: 800px) {
    #simulatorMap {
        width: 95%;
    }

    .legendBlock {
        display: inline;
    }
}