<!DOCTYPE html>
<html>

<head>
    <title>Green lean electric - loggin</title>
    <meta charset="utf-8">
    <link rel="icon" href="../image/build.png">
    <link href="../style/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="../script/loggin.js"></script>
    <!--links for the title font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@743&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="../image/logo.png" alt="logo" id="logo">
        <h1>Green Lean Electric, loggin</h1>
        <!--<img src="../image/exit.png" alt="exit" id="exit">-->   <!--We don't need this, because it's web and not mobile app-->
        <div class="headerLine"></div>
    </header>

    <div id="loggin">
        <h3>Username:</h3>
        <input type="text" v-model="username">
        <h3>Password:</h3>
        <input type="text" v-model="password"></br>
        <button v-on:click="valuesIntoJson">Loggin</button>
        <div class="yellowLine"></div>
        <div class="blueLine"></div>
        <!--it looks like my js file isn't connected...-->
        <!--<p>Tests to see what my Vue.js values contain:</p> 
        <p>Value of my username : {{ username }}</p>
        <p>Value of my password : {{ password }}</p>
        <p>Value of myJson : {{ myJson }}</p>-->
    </div>
</body>

</html>