.control-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #34495e;
    font-size: medium;
  }
  
  .control-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.control-card-container {
padding: 2px 16px;

}
.control-card-container .col{
    border-style: groove;
    border-width: 1px;
    min-height: 30px;
}

.control-card-head {
    background-color: #ecf0f1;
    color: #34495e;
    padding: 30px;
    width: 100%;
}

.smallScreen {
    display: none;
}

@media screen and (max-width: 1200px) {
    #manager {
        border-spacing: 40px;
    }
}

@media screen and (max-width: 860px) {
    #manager {
        border-spacing: 10px;
    }
}

@media screen and (max-width: 780px) {
    .largeScreen {display: none;}
    .smallScreen {display: block;}
    #manager td {
        width: 350px;
        padding: 10px;
    }
}